/* tip -- you can comment-out text quickly by highlight text and hitting Command plus / (backslash)  */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* =================
In order to ensure that boxes intended to be inside other 
boxes do not extend beyond, we need to use the 
following setting. BEST PRACTICE!
============================== */

* {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: border-box;
}

/* ============================== */

* {
  font-family: "Roboto", sans-serif;
}

/* ============================== */

p {
  width: 300px;
  margin: 3px;
  padding: 3px;
  border: 2px dotted green;
}

div {
  border: 2px solid blue;
  background-color: rgba(217, 223, 227, 0.516);
  width: 1000px;
  height: 400px;
  overflow: auto;
}

div.justify-content {
  display: flex;
  justify-content: space-evenly;
}

div.align-items {
  display: flex;
  align-items: center;
}

div.flex-direction {
  display: flex;
  flex-direction: column-reverse;
}

div.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  align-content: space-evenly;
}

div.flex-flow {
  display: flex;
  flex-flow: wrap column;
}

img.medium_size_block {
  width: 100px;
  height: 100px;
  display: block;
}
