/* tip -- you can comment-out text quickly by highlight text and hitting Command plus / (backslash)  */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* =================
In order to ensure that boxes intended to be inside other 
boxes do not extend beyond, we need to use the 
following setting. BEST PRACTICE!
============================== */

* {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: border-box;
}

/* ============================== */

* {
  font-family: "Roboto", sans-serif;
}

/* ============================== */

ul {
  border: 2px solid red;
  padding: 10px;
  text-align: center;
}

li {
  display: inline;
  margin: 10px;
  font-weight: bold;
}

li.HiddenNavItem {
  visibility: hidden;
}

li.NoneDisplayItem {
  display: none;
}

/* === ABOVE IS NAVIGATION MENU STUFF  ====================== */

h1 {
  color: rgb(34, 124, 165);
}

div {
  height: 300px;
  width: 300px;
  background-color: rgb(140, 156, 77);
  margin: auto;
}

h2 {
  color: #227ca5;
  text-align: center;
}

h3 {
  color: rgba(34, 124, 165, 0.33);
}

.lorem {
  color: rgb(42, 45, 45);
  background-color: rgba(67, 137, 121, 0.142);
}

p {
  width: 75%;
  height: 75%;
}

.para3text {
  overflow: scroll;
  width: 200px;
  height: 200px;
}

/* === ABOVE IS COLOR STUFF  ====================== */

#hellobox1 {
  border: solid black;
  border-width: 1px 2px 4px 8px;
  background-color: yellow;
  font-size: 25px;
  margin: 10px;
  padding: 90px;
}

#hellobox2 {
  border: solid black;
  border-width: 2px 6px;
  background-color: yellow;
  font-size: 25px;
  margin: 70px;
  padding: 10px;
}

#hellobox3 {
  border: solid thick black;
  border-style: outset;
  border-top-color: blue;
  background-color: yellow;
  font-size: 25px;
  margin: 70px;
  padding: 10px;
}

#hellobox4 {
  border: 2px solid black;
  background-color: yellow;
  font-size: 25px;
  margin: 70px;
  padding: 10px;
  box-shadow: -5px 5px 5px 5px gray;
}

#hellobox5 {
  border: 2px solid black;
  background-color: yellow;
  font-size: 25px;
  margin: 70px;
  padding: 10px;
  border-radius: 10px;
  border-bottom-right-radius: 50px;
}

#Inline_Block {
  display: inline-block;
  width: 100px;
  height: 100x;
  padding: 5px;
  border: 2px solid blue;
}

/* === ABOVE IS BORDER STUFF  ====================== */
