/* tip -- you can comment-out text quickly by highlight text and hitting Command plus / (backslash)  */

/* SETUP AND FONTS :
======================= */

/* Import Font */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Insure that boxes intended to be inside other boxes do not extend beyond those boxes */

*,
::before,
::after {
  box-sizing: border-box;
}

/* Setup default font and default fontsize do that use of "rem" font sizing is more intuitive */

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

/* Overall Sizing and Styling (for COMPUTER layout).   Tablet and Mobile Sizing
 to follow (will try to adjust only for font size and arrangement of boxes).
================================================================ */

html,
nav {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255) 12%,
    rgb(70, 148, 168) 99%
  );
}

footer {
  float: left;
  height: 10%;
  width: 100%;
  font-weight: 400;
  font-size: 2em;
  text-align: center;
}

/* Navigation Bar and Header Styling */
/* ======================================= */

a:link {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
a:visited {
  color: gray;
}
a:hover {
  color: darkcyan;
  text-decoration: underline;
}
a:active {
  color: rgb(0, 72, 139);
}

nav {
  border-bottom: 1px solid rgba(150, 138, 138, 0.707);
  text-align: left;
  position: fixed;
  width: 100%;
  font-size: 2.5rem;
  z-index: 1;
  margin-top: -1%;
  padding-top: 1%;
}

li.nav_bar {
  display: inline;
  margin: 1%;
  font-weight: bold;
}

#nav_logo {
  width: 7%;
  vertical-align: middle;
  margin-right: 5%;
  margin-left: -1%;
}

div.header_div {
  text-align: center;
  width: 100%;
  padding: 2%;
  margin-top: 6%;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

/* Content Styling - CONTACT PAGE  */
/* ======================================= */

div.content {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  border-bottom: 1px solid rgba(150, 138, 138, 0.483);
  border-top: 1px solid rgba(150, 138, 138, 0.483);
  font-size: 2rem;
}

section {
  width: 600px;
  margin: 1%;
  padding: 2%;
  border: 2px solid rgba(174, 176, 195, 0.043);
  border-radius: 5px;
  overflow: auto;
}

iframe {
  width: 80%;
  box-shadow: 2px 2px 2px 2px gray;
}

li {
  display: grid;
}

input,
button,
textarea,
figure {
  font-size: inherit;
  box-shadow: 2px 2px 5px 2px gray;
  font-family: "Roboto", sans-serif;
}

textarea,
input.email_subscribe {
  width: 90%;
}

/* Content Styling - ABOUT ME PAGE  */
/* ======================================= */

section.aboutme_section1 {
  width: 25%;
  margin: 1%;
  padding: 6%;
  border: 2px solid rgba(174, 176, 195, 0.043);
  border-radius: 5px;
  overflow: auto;
}

img.about_us_simfin_logo {
  width: 95%;
  box-shadow: 2px 2px 2px 2px rgb(78, 77, 77);
  border-radius: 5px;
  float: center;
  margin: 2%;
}

section.aboutme_section2 {
  width: 70%;
  margin: 1%;
  padding: 3%;
  border: 2px solid rgba(174, 176, 195, 0.043);
  border-radius: 5px;
  overflow: auto;
}

img.winston_photo {
  width: 90%;
  border-radius: 3px;
}

figure.winston_photo {
  width: 22%;
  box-shadow: 2px 2px 2px 2px rgb(78, 77, 77);
  border-radius: 5px;
  float: right;
  margin: 0% 2%;
  padding: 1%;
  text-align: center;
  overflow: auto;
}

/* Content Styling - FINANCIAL MODEL  */
/* ======================================= */

section.finmodel_section1 {
  width: 38%;
  margin: 1%;
  padding: 3%;
  border: 2px solid rgba(174, 176, 195, 0.043);
  border-radius: 5px;
  overflow: auto;
}

section.finmodel_section2 {
  width: 58%;
  margin: 1%;
  padding: 3%;
  border: 2px solid rgba(174, 176, 195, 0.043);
  border-radius: 5px;
  overflow: auto;
}

section.finmodel_section3 {
  width: 95%;
  margin: 1%;
  padding: 3%;
  border: 2px solid rgba(174, 176, 195, 0.043);
  border-radius: 5px;
  justify-content: space-around;
}

img.model_output {
  width: 70%;
  box-shadow: 2px 2px 2px 2px rgb(78, 77, 77);
  border-radius: 5px;
  margin-left: 15%;
}

section.finmodel_section4 {
  width: 95%;
  margin: 1%;
  padding: 3%;
  border: 2px solid rgba(174, 176, 195, 0.043);
  border-radius: 5px;
  overflow: auto;
}

/* Content Styling - HOME PAGE  */
/* ======================================= */

section.home_section1 {
  background: url(images/home_splash.jpg) no-repeat center center fixed;
  background-size: 100%;
  width: 101%;
  height: 800px;
  margin: -1%;
  padding: -1%;
  border: none;
  border-radius: none;
  text-align: center;
}

/* Content Styling - OUR APPROACH  */
/* ======================================= */

section.approach_section1 {
  width: 48%;
  margin: 1%;
  padding: 3%;
  border: 2px solid rgba(174, 176, 195, 0.043);
  border-radius: 5px;
  overflow: auto;
}

section.approach_section2 {
  width: 48%;
  margin: 1%;
  padding: 3%;
  border: 2px solid rgba(174, 176, 195, 0.043);
  border-radius: 5px;
  overflow: auto;
}

img.future_animation {
  width: 95%;
  box-shadow: 2px 2px 2px 2px rgb(78, 77, 77);
  border-radius: 5px;
  float: center;
  margin: 2%;
}

/* Sizing for TABLET below. 581px — 868px.  
============================== */

@media (min-width: 581px) and (max-width: 868px) {
  * {
    font-size: 2rem;
  }
}

/* Sizing for MOBILE below. 580px.  
============================== */

@media (max-width: 580px) {
  * {
    font-size: 1.5rem;
  }
}

/* MEDIA QUERY INSTRUCTIONS
========================

Please make yours looks similar to mine, however,
 your media query points will change to:

FOR THIS MINI PROJECT (NOT PROPER SIZING!! But 
do this for now, since it is easier to see the changes
 when you resize your window):

**in case you are wondering, the px size was
 moved up 100px for everything temporarily**

@media query sizing:
580px: Mobile devices
581px — 868px: iPads, Tablets
(Regular sizing doesn't need a @media query)

 

PROPER SIZING BELOW FOR REFERENCE

@media query sizing:
480px: Mobile devices
481px — 768px: iPads, Tablets
(Regular sizing doesn't need a @media query) */
