/*  this is how you make a comment in CSS  */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* =================
In order to ensure that boxes intended to be inside other 
boxes do not extend beyond, we need to use the 
following setting. BEST PRACTICE!
============================== */

*,
::before,
::after {
  box-sizing: border-box;
}

/* ========setting up font ================= */

* {
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
}

/* ========== from prior exercise ====

ul {
  list-style-type: none;
  font-size: 1.5em;
}
=============== */

/* ************ below is to style navigation bar ********** */
nav {
  text-align: center;
  margin-bottom: 75px;
  font-size: 25px;
}

li {
  display: inline;
  margin: 10px;
}

a {
  text-decoration: none;
}

/* ******** below is to style LINKs ****************** */

a:link {
  color: deeppink;
  text-decoration: none;
}
a:visited {
  color: gray;
}
a:hover {
  color: deeppink;
  text-decoration: underline;
}
a:active {
  color: darkcyan;
}

/* *************   setting up Media Queries below ************** */

h1 {
  font-size: 50px;
  border-top: 5px solid whitesmoke;
  border-bottom: 5px solid whitesmoke;
  padding: 20px;
  text-align: center;
  margin: 5% 20%;
  border-radius: 10px;
}

@media (min-width: 481px) and (max-width: 768px) {
  h1 {
    font-size: 40px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 40px;
  }
}

/* *************   setting up image styling and media queries below ************** */

img {
  width: 600px;
  display: block;
  margin: auto;
  box-shadow: 5px 5px 5px 5px #777777;
}

@media (min-width: 481px) and (max-width: 768px) {
  img {
    width: 400px;
  }
}

@media (max-width: 480px) {
  img {
    width: 250px;
  }
}

/* ************   styling for div on index page  ******************* */

div {
  width: 400px;
  height: 400px;
  padding: 20px;
  text-align: center;
  border-radius: 10px 60px;
  margin-bottom: 20px;
  background-color: slategrey;
}

@media (min-width: 481px) and (max-width: 768px) {
  div {
    width: 350px;
    height: 350px;
  }
}

@media (max-width: 480px) {
  div {
    width: 275px;
    height: 275px;
  }
}

.amazingText {
  font-size: 20px;
}

@media (min-width: 481px) and (max-width: 768px) {
  .amazingText {
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  .amazingText {
    font-size: 12px;
  }
}

/* ************styling for list of WebDev technolgies ****************** */

.webDevlist {
  font-size: 2.5em;
  list-style-type: none;
  display: grid;
}

p {
  font-size: 2em;
}

.bioText {
  background-color: rgba(79, 113, 135, 0.394);
  color: rgb(9, 44, 67);
  text-shadow: 2px 2px 4px #000;
  font-size: 2em;
}

/* for bioText, you will choose the color combinations and 
    add a BACKGROUND-COLOR, font COLOR, and TEXT-SHADOW of 2px 2px 4px #000 *?





/*  
===============


The take away from chapter 11 is that ther are FOUR different ways to apply color but the recommended ones to use are rgb (or rgba) and hex("#").

Be sure to get very comfortable with using rgb(255, 255, 255) or rgba(255, 255, 255, 1) and HEX (which is represented either like this: #aaa OR #1a1a1a) as well as the properties of :

background-color (to change background color)

color (to change font color)


-----------------


The takeaways from chapter 12 are these main properties:

-How to import (only found in the lecture video)

font-family

font-size

using %, px, em, and rem (there is explanations in both the book and the lecture -- but mainly use px, em and rem

font-weight

text-decoration (will come in handy later too)

text-align (a must!)

text-shadow (I like it, but it's not for everyone - I do encourage you to use it!)

 

These pseudo classes are awesome and really bring your links to life.  They must be used in a specific order. The mnemonic was: 

"Let's Visit Harry Again" (from Harry Potter). Here it is in context on an <a> tag: 

(link, visited, hover, active)

a:link {
color: deeppink;
text-decoration: none;

}
a:visited {
color: black;

}
a:hover {
color: deeppink;
text-decoration: underline;

}
a:active {
color: darkcyan;

}

You can also include :focus, which would need to be in this order: 

"Let's Visit Harry on Friday Again"



  */
